*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:  #000000;
}
.nunito-h1 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
  font-size: 40px
}
.navPrincipal{
    display: flex;
    justify-content: space-between;
    padding: 20px
        
}
.listaNavPrincipal{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px
}
.elementoLista > a{
    text-decoration: none;
    font-family: "Knewave", system-ui;
    font-style: normal;
    color: #FFFFFF;
}
.contenedorPrimeraSeccion{
    padding: 50px 90px 50px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px
        
}
.contenedorPrimeraSeccion > img{
    width: 400px;
    height: auto
        
}
.contenedorSegundaSeccion{
    display: flex;
    justify-content:space-between;
    gap: 10px
        
}
.contenedorElemento{
    background-color: #000000;
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px; 
        
        
    
        
}
.contenedorElemento h1{
    font-family: "Knewave", system-ui;
    font-style: normal;
    text-align: center;
    color: #FFFFFF
        
}
.contenedorElemento img{
    width: 400px;
    height: 400px;
    display: block;
    margin: auto
        
}
.contenedorElemento p{
    font-family: "Nunito", sans-serif;
    text-align: center;
    color:#FFFFFF;
    width: 400px;
    display: block;
    margin: auto;
}
.contenedorTerceraSeccion{
    
}
.contenedorFormulario{
    border: solid #5EFF00;
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 10px
 }
.contenedorTerceraSeccion > h1{
    font-family: "Knewave", system-ui;
    font-style: normal;
    text-align: center;
    color: #FFFFFF
}
.contenedorFormulario img{
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 10px
}
.entradaExtensaFormulario{
    display: block;
    margin: auto;
    width: 80%;
    height: 4%;
    border-radius: 10px
        
}
.entradasAlineadasHorizontalmente{
    width: 80%;
    height: 4%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
 
}
.entradasAlineadasHorizontalmente > input{
    width: 50%;
    border-radius: 10px;
}
.botonesFormulario{
    width: 80%;
    height: 4%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: auto
}
.botonesFormulario > input{
    width: 50%;
    background-color: #5CE1FF;
    font-family: "Nunito", sans-serif;
    border-radius: 10px; 
        
}

.contenedorPrimeraSeccion > img:hover{
    width: 400px;
    height: auto;
    border: solid #FFFF03;
}
.contenedorPrimeraSeccion > div{
    color: #FFFFFF;
}
.contenedorPrimeraSeccion > div:hover{
    color:#FFFF03;
}